
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayputPage.cshtml";
}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image: url(/Content/mFile/images/img_bg_1.png);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-left">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                        <h1 class="mb30">LINKNEAT</h1>
                        <h3 class="mb30 text-muted">Career Development Consultant</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About -->
<div class="container-fluid">
    @Html.Action("about", "Partial")
</div>

<!-- Service -->
<div class="container-fluid">
    @Html.Action("Service", "Partial")
</div>

<!-- Gallery -->
<div class="container-fluid">
    @Html.Action("Gallery", "Partial")
</div>

<!-- Information -->
<div class="container-fluid">
    @Html.Action("InfoMy", "Partial")
</div>

<!-- Alti -->
<div class="container-fluid">
    @Html.Action("Alti", "Partial")
</div>